{{!-- Journal Card --}}
<div class="journal-entry card">
    {{!-- Date Entered --}}
    <h5 class="article-title">{{ this.postDate }}</h5>
    {{!-- Check In Content --}}
    <p class="journal-entry"> {{ this.body }}</p>
    {{!-- Mood of the Day --}}
    <h5>Mood: {{ this.feeling }}</h5>
</div>