<article>
    <div class="journal-header">
        <h4 class="entry-date">Written: {{ date }}</h4>
        <h4 class="entry-mood">Mood: {{ feeling }}</h4>
    </div>
    <p class="entry-content">{{ body }}</p>
    <div class="entry-btns">
        <button type="button" class="btn btn-outline-light">Edit</button>
        <button type="button" class="btn btn-outline-light">Share</button>
    </div>
</article>