<article class="journal-entry">
    <h5>{{ this.postDate }}</h5>
    <p class="journal-entry"> {{ this.body }}</p>
    <h5>Mood: {{ this.feeling }}</h5>
    {{!-- <h5 class="entry-mood">Sober Day? {{ this.hiccup }}</h5> --}}

</article>