<article class="resource-article">
    <h4 class="article-title">{{ this.title }}</h4>
    <p class="article-description">{{ this.description }}</p>
    <a class="btn btn-outline-light" type="button" class="btn article-btn" href="{{ this.link }}">Learn More</a>
</article>