<article>
    <h4 class="article-title">{{ title }}</h4>
    <p class="article-description">{{ article-description }}.</p>
    <a type="button" class="btn article-btn" href="{{ link }}">Read
        Me</a>
</article>