<div class="resource-article card">
    <div class="card-title">
        <h4 class="text-center article-title">{{ this.title }}</h4>
    </div>
    <div class="card-text main-content">
        <p class="article-description text-center">{{ this.description }}</p>
        <a class="btn btn-outline-light" class="btn article-btn" href="{{ this.link }}">Learn More</a>
    </div>
</div>