<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {{!-- Animate CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Peddana&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    {{!-- Favicon --}}
    <link rel="icon" href="img/logo.png">
    {{!-- Local CSS --}}
    <link href="stylesheets/members.css" rel="stylesheet">
    <title>Ascent</title>
</head>

<body>

    {{{ body }}}

    {{!-- Script tags --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</body>

</html>