<body class="d-flex flex-column h-100">

  <main role="main" class="flex-shrink-0">
    <!-- container for the counter -->
    <div class="container">
      <div class="row align-items-center justify-content-center" id="counter">
        <!-- Pie chart will be inserted into this div -->
        <div id="responsive-chart"></div>
        <div class="rounded-circle chart-inner"></div>
        <img id="mtn-img" class="mx-auto" src="./img/logo-white.png" alt="mountain-logo">
      </div>
    </div>

    <!-- Container for Days Until Next Badge + badges -->
    <div class="container days-until text-center">
      <div class="row text-center">
        <p class="align-middle"><span id="time-left">{{days}}</span> Days Until Next Badge <span class="star"><i
              class="fas fa-star"></i></span></p>
      </div>
    </div>

    <!-- Inspirational quote -->
    <div class="quote-container container">
      <p class="quote">{{quote}}</p>
      <p class="quote-author">- {{author}}</p>
    </div>
  </main>

  <!-- footer -->
  <footer class="navbar fixed-bottom">
    <div class="container">
      <!-- <i class="fas fa-user-circle"></i>
              <i class="fas fa-book-open"></i>
              <i class="far fa-comments"></i> -->
      <a href="/"><img class="icon" src="./img/icons/account.png" alt="account icon"></a>
      <a href="/"><img class="icon" src="./img/icons/resources.png" alt="account icon"></a>
      <a href="/"><img class="icon-connect" src="./img/icons/connect.png" alt="account icon"></a>
      <a href="/"><img class="icon" src="./img/icons/notepad.png" alt="account icon"></a>
    </div>
  </footer>
</body>