<!-- Navbar -->
<nav class="navbar navbar-expand-lg" role="navigation">
  <!-- Logo -->
  <div class="navbar-brand text-center">
    <img SRC="img/logo-white.png" alt="mountain logo" class="logo">
    <h1>ASCENT</h1>
  </div>
  <!-- toggle icon -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuList"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- menu list -->
  <div class="collapse navbar-collapse" id="menuList">
    <ul class="navbar-nav my-2 my-lg-0">
      <!-- resources -->
      <li class="nav-item">
        <a class="nav-link" href="resources.html">
          resources
        </a>
      </li>
      <!-- journal -->
      <li class="nav-item">
        <a class="nav-link" href="journal.html">
          journal
        </a>
      </li>
      <!-- logout button -->
      <button type="button" class="btn btn-outline-light nav-link">
        logout
      </button>
    </ul>
  </div>
</nav>

<!-- Members Main Content -->
<div class="main-content">

  <!-- Welcome Header -->
  <header>
    <h2 class="welcome-title">Hi there, <span class="member-name"></span>!</h2>
  </header>

  <!-- Mood Emoji Box -->
  <div class="box mood-box">
    <h4 class="mood-title">How are you feeling today?</h4>
    <div class="mood-buttons">
      <div class="mood-label">
        <button type="button" class="btn mood" data-mood="1" id="mood1" aria-pressed="true"
          aria-label="really-sad"><span>1</span></button>
        <p>low</p>
      </div>
      <button type="button" class="btn mood" data-mood="2" id="mood2" aria-pressed="true"
        aria-label="sad"><span>2</span></button>
      <button type="button" class="btn mood" data-mood="3" id="mood3" aria-pressed="true"
        aria-label="indifferent"><span>3</span></button>
      <button type="button" class="btn mood" data-mood="4" id="mood4" aria-pressed="true"
        aria-label="happy"><span>4</span></button>
      <div class="mood-label">
        <button type="button" class="btn mood" data-mood="5" id="mood5" aria-pressed="true"
          aria-label="really-happy"><span>5</span></button>
        <p>high</p>
      </div>
    </div>
  </div>

  <!-- Written Check In -->
  <div class="box">
    <!-- Title -->
    <h4 class="checkin-title">Check In:</h4>
    <form>
      <!-- Text Input -->
      <input id="check-in-text" type="text" placeholder="Today...">
      <!-- Sobriety Check -->
      <div class="checkbox">
        <input type="checkbox" id="soberYN"> <label for="soberYN">Didn't Drink</label>
      </div>
      <!-- Submit Btn -->
      <button class="btn sober-btn">Submit</button>
    </form>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/members.js"></script>