    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" role="navigation">
        <!-- Logo -->
        <div class="navbar-brand text-center">
            <img SRC="img/logo-white.png" alt="mountain logo" class="logo">
            <h1>ASCENT</h1>
        </div>
        <!-- toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuList"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuList">
            <ul class="navbar-nav my-2 my-lg-0">
                <!-- home -->
                <li class="nav-item active">
                    <a class="nav-link" href="/counter">
                        home
                    </a>
                </li>
                <!-- resources -->
                <li class="nav-item active">
                    <a class="nav-link" href="/resources">
                        resources
                    </a>
                </li>
                <!-- logout button -->
                <a href="/logout"><button type="button" class="btn btn-outline-light nav-link">
                    logout
                </button></a>
            </ul>
        </div>
    </nav>
    
    <div class="main-content">
        <!-- Resource Title -->
        <h2 class="resources-title">Your Daily Reflections</h2>


        <div class="box journal-box">
            {{#each check-in }}
                {{> journal-entry}}
            {{/each}}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>