<!-- Navbar -->
<nav class="navbar navbar-expand-lg" role="navigation">
    <!-- Logo -->
    <div class="navbar-brand text-center">
        <img src="img/logo-white.png" alt="mountain logo" class="logo">
        <h1>ASCENT</h1>
    </div>
    <!-- toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuList"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuList">
        <ul class="navbar-nav my-2 my-lg-0">
            <!-- home -->
            <li class="nav-item active">
                <a class="nav-link" href="members.html">
                    home
                </a>
            </li>
            <!-- journal -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    journal
                </a>
            </li>
            <!-- logout button -->
            <button type="button" class="btn btn-outline-light nav-link" href="/logout">
                logout
            </button>
        </ul>
    </div>
</nav>
<main class="main-content">
    <!-- Resource Title -->
    <h2 class="resources-title">Popular Resources</h2>

    <div class="box resource-box">

        <article>
            <h4 class="article-title">Recovery and Sobriety in a Pandemic</h4>
            <p class="article-description">Many 12-step meetings have been temporarily suspended and the list of
                “No’s” and
                “Suggested No’s” can seem overwhelming, even to those who are not in recovery. Read for some
                practical
                solutions to help you stay sober during this time.</p>
            <a type="button" class="btn article-btn"
                href="https://www.thefix.com/recovery-and-sobriety-during-pandemic">Read Me</a>
        </article>

        <article>
            <h4 class="article-title">20 Tools to Help You Through Your Recovery Journey</h4>
            <p class="article-description">Whether you’re in early recovery, later on in your journey, or just
                thinking
                about quitting drinking, it is important to keep your recovery toolbox well-stocked. This article
                lays out 20
                small tools to stock that toolbox with</p>
            <a type="button" class="btn article-btn"
                href="https://www.thetemper.com/sobriety-tools-for-your-recovery-journey/">Read Me</a>
        </article>

        <article>
            <h4 class="article-title">12 Tips for Your Recovery</h4>
            <p class="article-description">This has a great section about identifying triggers, recognizing relapse
                warning
                signs, and practicing healthy living.</p>
            <a type="button" class="btn article-btn">Read Me</a>
        </article>

    </div>

</main>