<!-- Navbar -->
<nav class="navbar navbar-expand-lg" role="navigation">
    <!-- Logo -->
    <div class="navbar-brand text-center">
        <img src="img/logo-white.png" alt="mountain logo" class="logo">
        <h1>ASCENT</h1>
    </div>
    <!-- toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuList"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuList">
        <ul class="navbar-nav my-2 my-lg-0">
            <!-- home -->
            <li class="nav-item active">
                <a class="nav-link" href="/counter">
                    home
                </a>
            </li>
            <!-- journal -->
            <li class="nav-item active">
                <a class="nav-link" href="/journal">
                    journal
                </a>
            </li>
            <!-- logout button -->
            <a href="/logout"><button type="button" class="btn btn-outline-light nav-link" href="/logout">
                    logout
                </button></a>
        </ul>
    </div>
</nav>
<main class="main-content">
    <!-- Resource Title -->
    <h2 class="resources-title">Popular Resources</h2>

    <div class="box resource-box">

        {{#each Resource }}
        {{> resource-block}}
        {{/each}}

    </div>

</main>
<!-- footer -->
<footer class="navbar fixed-bottom">
    <div class="container">
        <!-- <i class="fas fa-user-circle"></i>
          <i class="fas fa-book-open"></i>
          <i class="far fa-comments"></i> -->
        <a href="/"><img class="footer-icon" src="./img/icons/account.png" alt="account icon"></a>
        <a href="/"><img class="footer-icon" src="./img/icons/resources.png" alt="account icon"></a>
        <a href="/"><img class="footer-icon-connect" src="./img/icons/connect.png" alt="account icon"></a>
        <a href="/"><img class="footer-icon" src="./img/icons/notepad.png" alt="account icon"></a>
    </div>
</footer>