<div class="main-content">
    <div class="signupJumbo box animate__animated animate__fadeIn animate__delay-1s">
        <button class="back"><i class="fas fa-arrow-circle-left"></i></button>
        <div class="container singupContain">
            <img SRC="img/logo.png" alt="mountain logo"
                class="signin-logo animate__animated animate__fadeIn animate__delay-1s">
            <h2 class="signupLogo animate__animated animate__fadeIn animate__delay-1s">ASCENT</h2>
            <form class="animate__animated animate__fadeIn animate__delay-2s">
                <h4 class="date">SELECT SOBRIETY DATE</h4>
                <input type="date" name="html5date">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <button class="btn btn-default login-btn">Sign Up</button>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="js/script.js"></script>