<div class="start-content">
    <div class="login-container box">
        <div class="container">
            <img class="signin-logo" src="img/logos/logo.png" alt="mountain logo">
            <h2 class="startPage">ASCENT</h2>
            <h4 class="startPage">Sobriety Tool</h4>
            <div class="start-btns">
                <a href="/login"><button
                        class="login-btn btn btn-default start-btn animate__animated animate__fadeIn animate__delay-0.5s">
                        Sign in
                    </button>
                    <a href="/register"><button
                            class="login-btn btn btn-default start-btn animate__animated animate__fadeIn animate__delay-0.5s">
                            Sign up</button></a>
            </div>
            <a class="about-tag" href="/about"><i class="fas fa-info-circle"></i> </a>
        </div>
    </div>
</div>

{{!-- jQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{!-- momentjs --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment.min.js"></script>

{{!-- Apex charts (can also do npm install) --}}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>