@font-face {
    src: url(../font/Aspal.ttf);
    font-family: 'aspal';
}

/* Background Image */

body {
    background: url(../img/mountain.jpg);
    background-position: center;
    background-size: cover;
    background-size: auto;
    width: 100%;
    height: 100%;
}

/* heading stylings */

h2 {
    font-weight: bold;
    color: #BFF0CF;
    font-family: 'aspal';
    font-size: 45px;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #3A5772;
}

/* Icon */

div.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

img.logo {
    width: 100px;
}

h1 {
    color: #BFF0CF;
    font-size: 30px;
    font-family: 'aspal';
    font-weight: bold;
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: white;
}

#menuList {
    justify-content: flex-end;
    text-align: right;
}

a.nav-link {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

a.nav-link:hover {
    color: #BFF0CF;
}

/* End Navigation */

div.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/****Login Stylings****/

img.login-logo {
    width: 150px;
    padding: 5px
}

div.login-container {
    margin-top: 64px;
}

h2.login-title {
    margin-bottom: 48px;
}

button.login-btn:hover {
    background-color: #3A5772;
    color: white;
}

div.checkbox {
    text-align: left;
}

/* Welcome Header */

h2.user-name {
    margin-top: 2rem;
}

/* Containers */

.box {
    background-color: rgba(58, 87, 114, 0.4);
    text-align: center;
    width: 90vw;
    max-width: 500px;
    border-radius: 8px;
    margin-top: 2rem;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.mood-box {
    margin-top: 0rem;
}

/* mood title */

h4.mood-title, h4.checkin-title {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

/* mood button styling */

.mood-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

p {
    margin-left: 12px;
    color: #3A5772;
}

.mood {
    width: 3rem;
    border: 3px solid white;
    border-radius: 100px;
    color: white;
    font-size: 20px;
    transition-duration: 0.5s;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mood:hover, .sober-btn:hover {
    background-color: #BFF0CF;
    border: 3px solid #3A5772;
    color: #3A5772;
}

.mood:hover {
    font-size: 35px;
    height: 3rem;
}

span:hover {
    margin: 0;
    padding: 0;
}

/* Check in */

h4.checkin-title {
    text-align: left;
}

input[type=text], input[type=password] {
    width: 100%;
    margin-bottom: 22px;
    padding: 16px;
    background-color: #ecf2f4;
    border: none;
}

label {
    color: #fff;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
}

.sober-btn, .login-btn {
    border-radius: 3px;
    height: 60px;
    background-color: #87A2BB;
    width: 65%;
    font-size: 20px;
    transition-duration: 0.5s;
    margin-top: 20px;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    h2 {
        margin-top: 10px;
        font-size: 10vw;
    }
    .box {
        width: 90vw;
    }
    input[type=text] {
        margin-bottom: 10px;
        font-size: 14px;
        padding-bottom: 20px;
    }
    .btn {
        height: 45px;
        font-size: 18px;
    }
}

/* Swiped section*/

/* https://codepen.io/zouhir/pen/RMMvGZ */

/* 
.swipeView {
    text-align: center;
    align-content: center;
    border-radius: 8px;
    margin-top: 0rem;
    margin-bottom: 48px;
    margin-left: 48px;
    margin-right: 48px;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    will-change: transform;
    overflow-x: auto;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

section {
    height: 80vh;
    scroll-snap-align: start;
}

.green {
    background: #3A5772;
}

.purple {
    background: #537899;
}

.orange {
    background: #87A2BB;
} */