@font-face {
    src: url(../font/Aspal.ttf);
    font-family: aspal;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    background: url(../img/mountain.jpg);
    background-position: center;
    background-size: cover;
    background-size: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.jumbotron {
	text-align: center;
	width: 500px;
	border-radius: 8px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 64px auto;
	background-color: #fff;
    padding: 32px;
    display: flex;
    background-color: rgba(58, 87, 114, 0.4);
}
.signupJumbo {
    height: 650px;
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.fa-arrow-circle-left {
    font-size: 25px;
    float: left;
    color: #3A5772;
}
.back {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: transparent;
}
input[type=text], input[type=password], input[type=date] {
	width: 100%;
	margin-bottom: 22px;
	padding: 16px;
	background-color: #ecf2f4;
    border: none;
    color: rgb(0, 0, 0);
}
h2 {
	margin-bottom: 48px;
	font-weight: bold;
    color: #BFF0CF;
    font-family: aspal;
    font-size: 45px;
}
.signupLogo {
    margin-bottom: 25px;
}
.startPage {
    margin-bottom: 10px
}
h4 {
    font-family: aspal;
    margin-bottom: 100px;
    color: #BFF0CF;
}

label {
    color:#fff;
    font-size: 13px;
}
input[type=checkbox] {
    height: 15px;
    width: 15px;
}
.remember {
    margin-right: 275px;
}
.date {
    font-size: 18px;
    font-family: aspal;
    color: #BFF0CF;

}
.btn {
    border-radius: 3px;
    height: 60px;
    background-color: #87A2BB;
    width: 65%;
    font-size: 20px;
    transition-duration: 0.5s;
    margin-top: 20px;
}
.btn:hover {
    background-color:#3A5772;
    color: white;
  }
.signIn {
    float: left;
    width: 45%;
}
.signUp {
    float: right;
    width: 45%;
}
.box {
	bottom: 0;
	left: 0;
	margin-bottom: 48px;
	margin-left: 48px;
    margin-right: 48px;
    text-align: center;
}
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .jumbotron {
        width: 300px;
        margin-top: 40px;
    }
    .signupcontain {  
    padding-right: 65px;

    }
    input[type=text], input[type=password] {
        margin-bottom: 20px;
        font-size: 14px;
        padding-bottom: 20px;
        
    }
    input[type=date] {
        font-size: 12px;
    }
    .btn {
        height: 45px;
        font-size: 14px;
    }
    .remember {
        margin-right: 75px;
    }
    .signIn, .signUp {
        font-size: 14px;
        width: 100%;
        height: 60px;
    }
    .date {
        font-size: 14px;
        margin-bottom: 20px;
    }
}