@font-face {
  src: url(../font/Aspal.ttf);
  font-family: 'aspal';
}

/* Background Image */

body {
  background: url(../img/mountain.jpg);
  background-position: center;
  background-size: cover;
  background-size: auto;
  width: 100%;
  height: 100%;
}

/* heading */

h2 {
  font-weight: bold;
  color: #BFF0CF;
  font-family: 'aspal';
  font-size: 45px;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #3A5772;
}

/* Icon */

div.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

img.logo {
  width: 100px;
}

h1 {
  color: #BFF0CF;
  font-size: 30px;
  font-family: 'aspal';
  font-weight: bold;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  color: white;
}

#menuList {
  justify-content: flex-end;
  text-align: right;
}

.nav-link {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

a.nav-link:hover {
  color: #BFF0CF;
}

/* End Navigation */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- general btn stylings ----- */
.sober-btn, .login-btn, .article-btn {
  border-radius: 3px;
  height: 60px;
  background-color: #87A2BB;
  width: 65%;
  font-size: 20px;
  transition-duration: 0.5s;
  margin-top: 20px;
}

/* ---- Start Page ---- */

h4.startPage {
  font-size: 30px;
  margin-bottom: 40px;
}

/* div.start-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.start-btn {
  width: 80%;
}

/* ---- Register Stylings ---- */

h4.date {
  font-size: 18px;
  margin-bottom: 20px;
}

/* ---- Login Stylings ---- */

/* back arrow */

i.fa-arrow-circle-left {
  font-size: 25px;
  float: left;
  color: #3A5772;
}

img.signin-logo {
  text-align: center;
  width: 200px;
  margin-bottom: 30px;
}

button.back {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: transparent;
}

h2.login-title {
  margin-bottom: 48px;
}

.login-btn:hover {
  background-color: #3A5772;
  color: white;
}

div.checkbox {
  text-align: left;
}

/* Welcome Header */

h2.user-name {
  margin-top: 2rem;
}

/* Containers */

.box {
  background-color: rgba(58, 87, 114, 0.4);
  text-align: center;
  width: 90vw;
  max-width: 500px;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

/* ---- Check in ---- */

h2.welcome-title, h2.resources-title {
  font-family: 'Quicksand', sans-serif;
  margin: 2rem;
  color: #3A5772;
}

.mood-box {
  margin-top: 0rem;
}

/* mood title */

h4 {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

/* mood button styling */

.mood-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

p {
  margin-left: 12px;
  color: #3A5772;
}

.mood {
  width: 3rem;
  border: 3px solid white;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  transition-duration: 0.5s;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mood:hover, .sober-btn:hover, .article-btn:hover, .btn:focus {
  background-color: #BFF0CF;
  border: 3px solid #3A5772;
  color: #3A5772;
}

.mood:hover {
  font-size: 35px;
  height: 3rem;
}

span:hover {
  margin: 0;
  padding: 0;
}

h4.checkin-title {
  text-align: left;
}

input[type=text], input[type=password], input[type=date] {
  width: 100%;
  margin-bottom: 22px;
  padding: 16px;
  background-color: #ecf2f4;
  border: none;
  color: rgb(0, 0, 0);
}

label {
  color: #fff;
}

input[type=checkbox] {
  height: 15px;
  width: 15px;
}

/****Resources*****/

.resource-box, .journal-box {
  max-width: 800px;
}

/* title */

h2.resources-title {
  margin-bottom: 0px;
}

article {
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

/* article description */

p {
  color: white;
  font-size: 15px;
}

/* article button */

.article-btn {
  margin-top: 5px;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  h2 {
    margin-top: 10px;
    font-size: 10vw;
  }
  .box {
    width: 90vw;
  }
  input[type=text] {
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 20px;
  }
  .btn {
    height: 45px;
    font-size: 18px;
  }
}