body {
    background-color: #537899;
}

div.mtn-logo-top {
    height: 8vw;
}

img.mtn-logo {
    margin-top: 5px;;
    height: 100%;
}

#counter {
    max-width: 500px;
    margin: 35px auto;
    opacity: 0.9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

#responsive-chart {
    grid-column: 2/span 10;
    grid-row: 1;
    z-index: 1;
}

#mtn-img {
    grid-column: 4/span 6;
    grid-row: 1;
    /* margin-left: 10px; */
    width: 100%;
}

div.days-until {
    color: white;
    background-color: #3A5772;
    width: 65%;
    /* padding: 5px; */
    border-radius: 10px;
}

div.days-until p {
    margin: .25rem 0;
    font-size: 3vw;
    width: 100%;
}

span.star {
    color: yellow;
    font-size: 5vw;
    margin-left: 10px;
}



@media screen and (min-width: 600px) {
    div.mtn-logo-top {
        height: 5vw;
    }

    div.days-until {
        width: 50%;
    }

    div.days-until p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 768px) {
    div.mtn-logo-top {
        height: 4vw;
    }

    div.days-until p {
        font-size: 2vw;
    }
}